#reward.hidden {
    display: none;
}
#animation {
    font-size: 3em;
    animation: rewardAnimation 1s infinite;
}
@keyframes rewardAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
